  * {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

  /*  header banner */
#container-head {
    display:flex;
    height: 70px;
    padding: 10px;
    background-color: #2a3959;
    color: white;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    font-size: 20px;
    padding-inline: 4%;
  }

/* blurb section */
#text-blurb {
    display: flex;
    flex-direction: column;
    background-color: #2a3959;
    color: white;
    align-items: center;
    padding-inline: 3%;
    padding-bottom: 3%;
}
#headerblurb {
    font-size: 32px;
    font-weight: bold;
}
#smallblurb {
    color: white;
    font-style: italic;
    font-size: 20px;
}
/* intro section */
#container-intro {
    font-size: 18px;
    margin-inline: 7%;
}
#intro-list {
    margin-top: 2%;
    margin-inline:22%;
}
#container-conc {
    display: flex;
    flex-direction: column;
    padding-inline:7%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    font-size: 18px;
    background-color: rgb(207, 204, 204);
    color:#2a3959;
    justify-content: center;
}

#intro-link {
    display: flex;
    justify-content: center;
}

#button-link {
    background-color:#2a3959;
    border:#2a3959;
    color: white;
    font-size:18px;
    border-radius: 7px;
    padding-inline:1%;
}
/*article section */

.article-header {
    display: flex;
    margin-top: 3%;
    font-size: 26px;
    justify-content: center;
}
.article-body {
    margin-inline: 7%;
    font-size: 18px;
}

.article-subheader {
    display: flex;
    margin-top: 3%;
    font-size: 22px;
    justify-content: center;
}

.article-jtitle {
    display: flex;
    margin-top: 3%;
    font-size: 24px;
    justify-content: center;
}
.article-list {
    margin-inline: 31%;
    font-size: 18px;
}

/* footer */

.container-footer {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #2a3959;
    color: white;
    padding: 30px;
    font-size: 14px;
}